<h1>{{title}}</h1>

<hr>

<form class="form-group" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

  <p>
    <mat-form-field class="example-full-width">
      <input class="form-control" type="text" placeholder="Name" aria-label="Number" #name="ngModel" name="name" matInput [(ngModel)]="userInsert.name" required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="example-full-width">
      <input class="form-control" type="text" placeholder="Surname" aria-label="Number" #surname="ngModel" name="surname" matInput [(ngModel)]="userInsert.surname" required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="example-full-width">
      <input class="form-control" type="text" placeholder="Username" aria-label="Number" #username="ngModel" name="username" matInput [(ngModel)]="userInsert.username" required>
    </mat-form-field>
  </p>

  <input class="btn btn-secondary" type="submit" value="Save" [disabled]="!userForm.form.valid" />

</form>

<hr>

<div>
  <a class="btn btn-primary btn-sm float-right" routerLink="/users">Back</a>
</div>
