<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <a class="navbar-brand" href="http://www.redbee.io/">  <img src="./assets/redbee.png" width="60px" height="60px"></a>
  <div *ngIf="auth_user">
    <span style="color:white" >Logged: {{auth_user}}</span>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-md-auto d-md-flex">
      <li class="navbar-nav ml-md-auto d-md-flex">
        <a class="nav-link" routerLink="/">Index</a>
      </li>
      <li class="navbar-nav ml-md-auto d-md-flex">
        <a class="nav-link" routerLink="/users">Users</a>
      </li>
      <li class="navbar-nav ml-md-auto d-md-flex">
        <a class="nav-link" routerLink="/users/boards">My boards</a>
      </li>
      <li class="navbar-nav ml-md-auto d-md-flex">
        <a class="nav-link" routerLink="/locations">Locations</a>
      </li>
      <li *ngIf="!auth_user" class="navbar-nav ml-md-auto d-md-flex">
        <a class="btn btn-success" routerLink="/form_login">Login</a>
      </li>
      <li *ngIf="auth_user" class="navbar-nav ml-md-auto d-md-flex">
        <a class="btn btn-danger" (click)="logout()" >Logout</a>
      </li>

    </ul>
  </div>
</nav>
<br>
