<h1>{{title}}</h1>

<hr>

<div *ngIf="error" class="alert alert-danger" role="alert">
  {{error}}
</div>

<div class="row">
  <div class=".col-xs-6">
    <mat-card>
      <mat-card-content>
        <form class="form-group" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

          <p>
            <mat-form-field class="example-full-width">
              <input class="form-control" type="text" placeholder="Username" aria-label="Number" #username="ngModel" name="username" matInput [(ngModel)]="user.username" required>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="example-full-width">
              <input class="form-control" type="password" placeholder="Password" aria-label="Number" #password="ngModel" name="password" matInput [(ngModel)]="user.password" required>
            </mat-form-field>
          </p>

          <input class="btn btn-secondary" type="submit" value="Login" [disabled]="!userForm.form.valid" />
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<hr>

<div>
  <a class="btn btn-primary btn-sm float-right" routerLink="/index">Back</a>
</div>
