<h1>{{titulo}}</h1>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Woeid</th>
      <th scope="col">Temperature</th>
      <th scope="col">Text</th>
      <th scope="col">Publication date</th>
      <th scope="col">Fecha alta</th>
      <th scope="col">Acciones</th>
    </tr>

  <tbody>
    <tr *ngFor="let location of locations" >
      <td>{{location.nombre}}</td>
      <td>{{location.woeid}}</td>
      <td>{{location.temperature}}°<sup>c</sup></td>
      <td>{{location.text}} <img src="./assets/{{location.text}}.png" ></td>
      <td>{{location.pubDate}}</td>
      <td>{{location.createAt}}</td>
      <td><button class="btn btn-light" (click)="updateLocation(location.id)">Editar</button> &nbsp; <button class="btn btn-light"(click)="deleteLocation(location.id)">Eliminar</button></td>
    </tr>
  </tbody>
</table>

<a class="nav-link" routerLink="/form_location/0">Agregar location</a>

<div>
  <a class="btn btn-primary btn-sm float-right" routerLink="/index">Volver</a>
</div>
