<h1>{{title}}</h1>
<hr>

<div *ngIf="1==1">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Woeid</th>
      <th scope="col">Name</th>
      <th scope="col">Temp.</th>
      <th scope="col">Weather</th>
      <th scope="col">Enabled</th>
      <th scope="col">Actions</th>
    </tr>

  <tbody>
    <tr *ngFor="let location of locations" >
      <td>{{location.name}}</td>
      <td>{{location.woeid}}</td>
      <td>{{location.temperature}}°<sup>c</sup></td>
      <td><img src="./assets/{{location.text}}.png" onerror="this.src='./assets/error.png'" width="30" height="30"> &nbsp; {{location.text}}</td>
      <td>{{location.enabled}}</td>
      <td>
        <button data-toggle="modal" data-target="#deleteModal" class="btn btn-link"(click)="setLocationIdDelete(location.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
</div>

<div>
  <a class="btn btn-secondary" routerLink="/form_location/0">Add location</a>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirm to delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Delete location?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteLocation(locationIdDelete)">Delete</button>
      </div>
    </div>
  </div>
</div>

<hr>
<div>
  <a class="btn btn-primary btn-sm float-right" routerLink="/index">Back</a>
</div>
