<h1>{{titulo}}</h1>

<!-- <form class="form-group" #boardForm="ngForm" (ngSubmit)="onSubmit(boardForm)">

  <p>
    <label for="nombre">Nombre</label>
    <input flex class="form-control" type="text" name="nombre" #nombre="ngModel" [(ngModel)]="boardNew.nombre" required />
    <span class="form_error" *ngIf="nombre.touched && !nombre.valid">
      El nombre es obligatorio
    </span>
  </p>
</form>

  <input class="btn btn-primary" type="submit" value="Guardar" [disabled]="!boardForm.form.valid" />
</form> -->


  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Location</th>
        <th scope="col">Temp.</th>
        <th scope="col">Clima</th>
        <th scope="col">Humedad</th>
        <th scope="col">Visibilidad</th>
        <th scope="col">Publication date</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let boardLocation of boardLocations" >
        <td>{{boardLocation.location.nombre}}</td>
        <td>{{boardLocation.location.temperature}}°<sup>c</sup></td>
        <td>{{boardLocation.location.text}} <img src="./assets/{{boardLocation.location.text}}.png"></td>
        <td>{{boardLocation.location.humidity}}</td>
        <td>{{boardLocation.location.visibility}}</td>
        <td>{{boardLocation.location.pubDate}}</td>
        <td><button class="btn btn-light"(click)="deleteBoardLocationByBoardLocationId(boardLocation.id)">Eliminar</button></td>
      </tr>
    </tbody>
  </table>

<input type="text"  [(ngModel)]="locationIdNew" required />
<button class="btn btn-light" (click)="addLocation(locationIdNew)">Agregar location</button>
<div>
  <a class="btn btn-primary btn-sm float-right" routerLink="/boards/{{userId}}">Volver</a>
</div>
