<h1>{{title}}</h1>

<form class="form-group" #locationForm="ngForm" (ngSubmit)="onSubmit(locationForm)">

  <p>
    <mat-form-field class="example-full-width">
      <input class="form-control" type="text" placeholder="Name" aria-label="Number" #name="ngModel" name="name" matInput [(ngModel)]="locationInsert.name" required>
    </mat-form-field>
    <span class="form_error" *ngIf="name.touched && !name.valid">
      Name is required
    </span>
  </p>
  <p>
    <mat-form-field class="example-full-width">
      <input class="form-control" type="text" placeholder="Woeid" aria-label="Number" #woeid="ngModel" name="woeid" matInput [(ngModel)]="locationInsert.woeid" required>
    </mat-form-field>
    <span class="form_error" *ngIf="woeid.touched && !woeid.valid">
      Woeid is required
    </span>
  </p>
  <p><small>Don't know WOEID? Find out <a target="_blank" href="http://www.woeidlookup.com/">here</a>!</small></p>
  <input class="btn btn-secondary" type="submit" value="Save" [disabled]="!locationForm.form.valid" />
</form>

<div>
  <a class="btn btn-primary btn-sm float-right" routerLink="/locations">Back</a>
</div>
