<h1>{{titulo}}</h1>

<form class="form-group" #locationForm="ngForm" (ngSubmit)="onSubmit(locationForm)">

  <p>
    <label for="nombre">Nombre</label>
    <input flex class="form-control" type="text" name="nombre" #nombre="ngModel" [(ngModel)]="locationInsertar.nombre" required />
    <span class="form_error" *ngIf="nombre.touched && !nombre.valid">
      El nombre es obligatorio
    </span>
  </p>

  <p>
    <label for="woeid">Woeid</label>
    <input class="form-control" type="text" name="woeid" #woeid="ngModel" [(ngModel)]="locationInsertar.woeid" required />
    <span class="form_error" *ngIf="woeid.touched && !woeid.valid">
      El apellido es obligatorio
    </span>
  </p>

  <input class="btn btn-primary" type="submit" value="Enviar" [disabled]="!locationForm.form.valid" />
</form>
